
{% extends "base.html" %}


{% block content %}
<h1 class="my-5">apartment list:</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    

                </tr>
            </thead>
            <tbody>
                {% for plt in platform %}
                <tr>
                    <td>{{plt.id}}</td>
                    <td> <a href="{% url 'platform.detail' pk=plt.id %}">
                        {{plt.name}}
                    </a></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{%url 'platform.new' %}" class="btn btn-primary">add platform</a>
    </div>
{% endblock %}
