
{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">Tax Rates List</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>user</th>
                    <th>reduced VAT Rate</th>
                    <th>City Tax Rate</th>
                    <th>full vat Rate</th>
                    <th>Start Date</th>
                    <th>Tax Zone</th>
                </tr>
            </thead>
            <tbody>
                {% for tax in taxrates %}
                <tr>
                    <td>{{ tax.user.id }}</td>
                    <td>{{ tax.vat_rate }}</td>
                    <td>{{ tax.citytax_rate }}</td>
                    <td>{{ tax.full_vat_rate }}</td>
                    <td>{{ tax.start_date }}</td>
                    <td>{{ tax.tax_zone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
