
{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">Tax Rates List</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>VAT Rate</th>
                    <th>City Tax Rate</th>
                    <th>Start Date</th>
                    <th>Tax Zone</th>
                </tr>
            </thead>
            <tbody>
                {% for tax in taxrates %}
                <tr>
                    <td><a href="{% url 'taxrate.detail' pk=tax.id %}/edit" class="text-dark text-decoration-none">{{ tax.id }}</a></td>
                    <td>{{ tax.vat_rate }}</td>
                    <td>{{ tax.citytax_rate }}</td>
                    <td>{{ tax.start_date }}</td>
                    <td>{{ tax.tax_zone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
