
{% extends "base.html" %}

{% block content %}
<h1 class="my-5">apartment list:</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    

                </tr>
            </thead>
            <tbody>
                {% for apt in apartment %}
                <tr>
                    <td>{{apt.id}}</td>
                    <td> <a href="{% url 'apartment.detail' pk=apt.id %}">
                        {{apt.name}}
                    </a></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{%url 'apartment.new' %}" class="btn btn-primary">add apartment</a>
    </div>
{% endblock %}


