{% extends 'base.html' %}

{% block content %}
<div class = 'border rounded p-3 my-5'>

    
<h1 class="my-5">from: {{res.start_date}} to: {{res.end_date}}</h1>
        <p>name: {{res.name}}  {{res.lname}}</p>
   
    <p>Guests: {{res.number_of_guests}}</p>
        <p>number of nights: {{res.number_of_nights}}</p>
    <p>total sum: {{res.t_sum}}</p>
    <p>{{res.email}}</p>
    <p>comment: {{res.comment}}</p>
    

    
    <a href="{% url 'reservation.list' %}" class="btn btn-secondary my-5">back</a>
    <a href="{% url 'reservation.update' pk=res.id %}" class="btn btn-secondary">edit</a>
    <a href="{% url 'reservation.delete' pk=res.id %}" class="btn btn-danger">delete</a>
{% endblock %}
    
