
{% extends "base.html" %}

{% block content %}
<div class="container"></div>
    <h1 class="my-5">reservation list:</h1>
        <table class="table">

        <thead>
            <tr>
               <th>Invoice</th>
                <th>Start</th>
                <th>End</th>
                <th>Name</th>
                <th>Family name</th>
              </tr>
            </thead>
            <tbody>
            {% for res in reservation %}

            <tr>
                <td><a href="{% url 'invoice1.detail' pk=res.id %}" class="text-dark text-decoration-non">{{ res.id }}</a></td>
                <td>{{res.start_date}}</td>
                <td>{{res.end_date}}</td>
                <td><a href="{% url 'reservation.detail' pk=res.id %}" class="text-dark text-decoration-non">{{ res.name }}</a></td>
                <td>{{ res.lname }}</td>
              </tr>


          
            {% endfor %}

        </tbody>
    </table>
    </div>
{% endblock %}
