
{% extends "base.html" %}


{% block content %}
<div class="container"></div>
    <h1 class="my-5">Invoices list:</h1>
        <table class="table">

        <thead>
            <tr>
               <th>Invoice</th>
                <th>Start</th>
                <th>End</th>
                <th>Name</th>
                <th>purpose</th>
                <th>number of nights</th>
                <th>apartment</th>
                <th>vat</th>
                <th>city tax</th>
                <th>sum</th>
              </tr>
            </thead>
            <tbody>
            {% for inv in invoices %}

            <tr>
                <td><a href="{% url 'invoice1.detail' pk=inv.id %}" class="text-dark text-decoration-non">{{ inv.id }}</a></td>
                <td>{{inv.reservation.start_date}}</td>
                <td>{{inv.reservation.end_date}}</td>
                <td><a href="{% url 'reservation.detail' pk=inv.id %}" class="text-dark text-decoration-non">{{ inv.name }}  {{ inv.lname }}</a></td>
                <td>{{inv.reservation.purpose}}</td>
                <td>{{inv.invoice_number_of_nights}}</td>
                <td>{{inv.reservation.apartment}}</td>
                <td>{{inv.invoice_vat}}</td>
                <td>{{inv.invoice_citytax}}</td>
                <td>{{inv.reservation.t_sum}}</td>
              </tr>


          
            {% endfor %}

        </tbody>
    </table>
    </div>
{% endblock %}
