{% extends 'base.html' %}

{% block content %}
<div class="invoice">
    <table class="table">
        <tr align="left">
            <td>
                <h1>{{ invoices.reservation.user.company }}</h1>
                <p>
                    {{ invoices.reservation.user.street }}
                    {{ invoices.reservation.user.house_number }}<br>
                    {{ invoices.reservation.user.zip_code }} {{ invoices.reservation.user.city }}
                </p>
                <p>Numer podatkowy: {{ invoices.reservation.user.tax_number }}</p>
            </td>
            <td>
                <td>

                </td>
            </td>
        </tr>
    </table>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                <h4>Do: {{ invoices.reservation.name }} {{ invoices.reservation.lname }}</h4>
                <p>Adres: {{ invoices.reservation.address }}</p>
            </th>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
        </tr>
            <tr>
                <th>Od</th>
                <th>Do</th>
                <th>Liczba nocy</th>
                <th>Liczba gości</th>
                <th>Faktura Netto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ invoices.reservation.start_date }}</td>
                <td>{{ invoices.reservation.end_date }}</td>
                <td>{{ invoices.invoice_number_of_nights }}</td>
                <td>{{ invoices.reservation.number_of_guests }}</td>
                <td>{{ invoices.invoice_netto|floatformat:2 }}</td>
            </tr>
     
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>VAT:</td>
                <td>{{ invoices.invoice_vat }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Razem:</td>
                <td>{{ invoices.reservation.t_sum }}</td>
            </tr>
        </tbody>
    </table>
<div align = "left">

Proszę zapłacić natychmiast! <br>
Numer konta bankowego: 44556677 <br>


</div>
<a href="{% url 'reservation.list' %}" class="btn btn-secondary my-5">Powrót</a>
<a href="{% url 'pdf' pk=invoices.id %}" class="btn btn-secondary my-5">Pobierz fakturę PDF</a>

</div> 

<div class="text-center">
    {% if has_previous %}
        <a href="?page={{ previous_page_number }}" class="btn btn-secondary mx-2">Poprzedni</a>
    {% endif %}
    {% if has_next %}
        <a href="?page={{ next_page_number }}" class="btn btn-secondary mx-2">Następny</a>
    {% endif %}
</div>

{% endblock %}
